In [9]:
import sqlite3,os
from tools import get_soup
import numpy as np
from datetime import datetime

In [10]:
db_path='../db.sqlite3'

In [11]:
os.path.exists(db_path)

True

In [12]:
soup=get_soup('http://www.isha.org.tw/tools/2012web_s_tools_02a_01%E7%B8%A3%E5%B8%82%E5%88%A5%E4%BB%A3%E7%A2%BC%E8%A1%A8.asp')
soup

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>縣市別代碼表</title>
<style type="text/css">
<!--
body {
	background-image: url(images/bg.gif);
}
-->
</style>
</head>
<body>
<p><strong>縣市別代一覽表：</strong></p>
<table border="0" cellpadding="2" cellspacing="2" width="500">
<tr>
<td><div align="right">01</div></td>
<td>基隆市</td>
<td><div align="right">12</div></td>
<td>嘉義市</td>
</tr>
<tr>
<td><div align="right">02</div></td>
<td>台北市</td>
<td><div align="right">13</div></td>
<td>嘉義縣</td>
</tr>
<tr>
<td><div align="right">03</div></td>
<td>新北市</td>
<td><div align="right">14</div></td>
<td>台南市</td>
</tr>
<tr>
<td><div align="right">04</div></td>
<td>桃園縣</td>
<td><div align="right">15</div></td>
<td>高雄市</td>
</tr>
<tr>
<td><div align="right">05</div></td>
<td>新竹市</td>
<td><div align="right">16</div></td>
<td>屏東縣</td>
</tr>
<tr>
<td><div align="right">06</div></td>
<td>新竹縣</td>
<td><div align="right">17</div></td>
<td>台東縣</td>
</tr>
<tr>
<td><div align="right">07</div></td>
<td>苗栗縣</td>
<td><div align="right">18</div></td>
<td>花蓮縣</td>
</tr>
<tr>
<td><div align="right">08</div></td>
<td>台中市</td>
<td><div align="right">19</div></td>
<td>宜蘭縣</td>
</tr>
<tr>
<td><div align="right">09</div></td>
<td>彰化縣</td>
<td><div align="right">20</div></td>
<td>澎湖縣</td>
</tr>
<tr>
<td><div align="right">10</div></td>
<td>南投縣</td>
<td><div align="right">21</div></td>
<td>金門縣</td>
</tr>
<tr>
<td><div align="right">11</div></td>
<td>雲林縣</td>
<td><div align="right">22</div></td>
<td>連江縣</td>
</tr>
</table>
<p><strong></strong></p>
</body>
</html>

In [13]:
cities=[[td.text.strip() for td in tr.find_all('td')] for tr in soup.find('table').find_all('tr')]
cities

[['01', '基隆市', '12', '嘉義市'],
 ['02', '台北市', '13', '嘉義縣'],
 ['03', '新北市', '14', '台南市'],
 ['04', '桃園縣', '15', '高雄市'],
 ['05', '新竹市', '16', '屏東縣'],
 ['06', '新竹縣', '17', '台東縣'],
 ['07', '苗栗縣', '18', '花蓮縣'],
 ['08', '台中市', '19', '宜蘭縣'],
 ['09', '彰化縣', '20', '澎湖縣'],
 ['10', '南投縣', '21', '金門縣'],
 ['11', '雲林縣', '22', '連江縣']]

In [14]:
city_dict={}
for city in cities:   
    for i in range(len(city)):        
        if i%2==0:
            city_dict[int(city[i])]=city[i+1]

cities=sorted(city_dict.items(),key=lambda x:x[0])
cities

[(1, '基隆市'),
 (2, '台北市'),
 (3, '新北市'),
 (4, '桃園縣'),
 (5, '新竹市'),
 (6, '新竹縣'),
 (7, '苗栗縣'),
 (8, '台中市'),
 (9, '彰化縣'),
 (10, '南投縣'),
 (11, '雲林縣'),
 (12, '嘉義市'),
 (13, '嘉義縣'),
 (14, '台南市'),
 (15, '高雄市'),
 (16, '屏東縣'),
 (17, '台東縣'),
 (18, '花蓮縣'),
 (19, '宜蘭縣'),
 (20, '澎湖縣'),
 (21, '金門縣'),
 (22, '連江縣')]

In [15]:
conn=sqlite3.connect(db_path)
cursor=conn.cursor()
conn,cursor

(<sqlite3.Connection at 0x14b84a3f5d0>, <sqlite3.Cursor at 0x14b84b13340>)

In [16]:
cursor.execute('delete from user_city;')
conn.commit()

In [17]:
try:
    for city in cities:
        sqlstr=f'insert into user_city(id,name,createdon) values({city[0]},"{city[1]}",\
    "{datetime.today().strftime("%Y-%m-%d")}");'
        print(sqlstr)
        cursor.execute(sqlstr)
    conn.commit()
    print('write done!')
except Exception as e:
    print(e)
finally:
    if conn:
        conn.close()

insert into user_city(id,name,createdon) values(1,"基隆市",    "2022-01-26");
insert into user_city(id,name,createdon) values(2,"台北市",    "2022-01-26");
insert into user_city(id,name,createdon) values(3,"新北市",    "2022-01-26");
insert into user_city(id,name,createdon) values(4,"桃園縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(5,"新竹市",    "2022-01-26");
insert into user_city(id,name,createdon) values(6,"新竹縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(7,"苗栗縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(8,"台中市",    "2022-01-26");
insert into user_city(id,name,createdon) values(9,"彰化縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(10,"南投縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(11,"雲林縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(12,"嘉義市",    "2022-01-26");
insert into user_city(id,name,createdon) values(13,"嘉義縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(14,"台南市",    "2022-01-26");
insert into user_city(id,name,createdon) values(15,"高雄市",    "2022-01-26");
insert into user_city(id,name,createdon) values(16,"屏東縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(17,"台東縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(18,"花蓮縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(19,"宜蘭縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(20,"澎湖縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(21,"金門縣",    "2022-01-26");
insert into user_city(id,name,createdon) values(22,"連江縣",    "2022-01-26");
write done!

## 各個分類

In [10]:
path=r'G:\我的雲端硬碟\教學文件\Python\爬蟲專案\Task出任務'

In [11]:
os.path.exists(path)

True

from os import listdir
from os.path import isfile, join
categorys = [f.replace('.csv','') for f in listdir(path) if isfile(join(path, f)) and '.csv' in f]

In [18]:
categorys=['程式開發',
    '平面設計',
    '網頁設計',
    '翻譯寫作',
    '商攝娛樂',
    '影像製作',
    '空間設計',
    '生活服務',
    '活動企劃',
    '專業顧問',
    '資訊工程']
categorys

['程式開發',
 '平面設計',
 '網頁設計',
 '翻譯寫作',
 '商攝娛樂',
 '影像製作',
 '空間設計',
 '生活服務',
 '活動企劃',
 '專業顧問',
 '資訊工程']

In [19]:
try:
    conn=sqlite3.connect(db_path)
    cursor=conn.cursor()
    conn,cursor

    for i,cat in enumerate(categorys):
        sqlstr=f'insert into case_category(id,name,createdon) values\
            ({i+1},"{cat}",\
    "{datetime.today().strftime("%Y-%m-%d")}");'
        print(sqlstr)
        cursor.execute(sqlstr)
    conn.commit()
    print('write done!')
except Exception as e:
    print(e)
finally:
    if conn:
        conn.close()

insert into case_category(id,name,createdon) values            (1,"程式開發",    "2022-01-26");
insert into case_category(id,name,createdon) values            (2,"平面設計",    "2022-01-26");
insert into case_category(id,name,createdon) values            (3,"網頁設計",    "2022-01-26");
insert into case_category(id,name,createdon) values            (4,"翻譯寫作",    "2022-01-26");
insert into case_category(id,name,createdon) values            (5,"商攝娛樂",    "2022-01-26");
insert into case_category(id,name,createdon) values            (6,"影像製作",    "2022-01-26");
insert into case_category(id,name,createdon) values            (7,"空間設計",    "2022-01-26");
insert into case_category(id,name,createdon) values            (8,"生活服務",    "2022-01-26");
insert into case_category(id,name,createdon) values            (9,"活動企劃",    "2022-01-26");
insert into case_category(id,name,createdon) values            (10,"專業顧問",    "2022-01-26");
insert into case_category(id,name,createdon) values            (11,"資訊工程",    "2022-01-26");
write done!

### 身分

In [20]:
respondents=['公司行號','工作室','學生身分','上班族兼職']
respondents

['公司行號', '工作室', '學生身分', '上班族兼職']

#

In [21]:
try:
    conn=sqlite3.connect(db_path)
    cursor=conn.cursor()
    conn,cursor

    for i,respondent in enumerate(respondents):
        sqlstr=f'insert into user_respondent(id,name,createdon) values\
            ({i+1},"{respondent}",\
    "{datetime.today().strftime("%Y-%m-%d")}");'
        print(sqlstr)
        cursor.execute(sqlstr)
    conn.commit()
    print('write done!')
except Exception as e:
    print(e)
finally:
    if conn:
        conn.close()

insert into user_respondent(id,name,createdon) values            (1,"公司行號",    "2022-01-26");
insert into user_respondent(id,name,createdon) values            (2,"工作室",    "2022-01-26");
insert into user_respondent(id,name,createdon) values            (3,"學生身分",    "2022-01-26");
insert into user_respondent(id,name,createdon) values            (4,"上班族兼職",    "2022-01-26");
write done!

### 專案狀態

In [28]:
states =['新進案', '發案中', '製作中', '已結案']
states

['新進案', '發案中', '製作中', '已結案']

In [29]:
try:
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    conn, cursor

    for i, state in enumerate(states):
        sqlstr = f'insert into case_state(id,name,createdon) values\
            ({i+1},"{state}",\
    "{datetime.today().strftime("%Y-%m-%d")}");'
        print(sqlstr)
        cursor.execute(sqlstr)
    conn.commit()
    print('write done!')
except Exception as e:
    print(e)
finally:
    if conn:
        conn.close()

insert into case_state(id,name,createdon) values            (1,"新進案",    "2022-01-26");
insert into case_state(id,name,createdon) values            (2,"發案中",    "2022-01-26");
insert into case_state(id,name,createdon) values            (3,"製作中",    "2022-01-26");
insert into case_state(id,name,createdon) values            (4,"已結案",    "2022-01-26");
write done!

In [30]:
modes = ['公司行號', '工作室', '學生身分', '上班族兼職']
modes

['公司行號', '工作室', '學生身分', '上班族兼職']

In [31]:
try:
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    conn, cursor

    for i, mode in enumerate(modes):
        sqlstr = f'insert into case_mode(id,name,createdon) values\
            ({i+1},"{mode}",\
    "{datetime.today().strftime("%Y-%m-%d")}");'
        print(sqlstr)
        cursor.execute(sqlstr)
    conn.commit()
    print('write done!')
except Exception as e:
    print(e)
finally:
    if conn:
        conn.close()

insert into case_mode(id,name,createdon) values            (1,"公司行號",    "2022-01-26");
insert into case_mode(id,name,createdon) values            (2,"工作室",    "2022-01-26");
insert into case_mode(id,name,createdon) values            (3,"學生身分",    "2022-01-26");
insert into case_mode(id,name,createdon) values            (4,"上班族兼職",    "2022-01-26");
write done!

### 金額

In [22]:
amounts = ['3000','5000','10000~30000','50000','10萬','30萬','50萬~100萬','100萬以上','面議']
amounts

['3000',
 '5000',
 '10000~30000',
 '50000',
 '10萬',
 '30萬',
 '50萬~100萬',
 '100萬以上',
 '面議']

In [23]:
try:
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    conn, cursor

    for i, amount in enumerate(amounts):
        sqlstr = f'insert into case_amount(id,name,createdon) values\
            ({i+1},"{amount}",\
    "{datetime.today().strftime("%Y-%m-%d")}");'
        print(sqlstr)
        cursor.execute(sqlstr)
    conn.commit()
    print('write done!')
except Exception as e:
    print(e)
finally:
    if conn:
        conn.close()

insert into case_amount(id,name,createdon) values            (1,"3000",    "2022-01-26");
insert into case_amount(id,name,createdon) values            (2,"5000",    "2022-01-26");
insert into case_amount(id,name,createdon) values            (3,"10000~30000",    "2022-01-26");
insert into case_amount(id,name,createdon) values            (4,"50000",    "2022-01-26");
insert into case_amount(id,name,createdon) values            (5,"10萬",    "2022-01-26");
insert into case_amount(id,name,createdon) values            (6,"30萬",    "2022-01-26");
insert into case_amount(id,name,createdon) values            (7,"50萬~100萬",    "2022-01-26");
insert into case_amount(id,name,createdon) values            (8,"100萬以上",    "2022-01-26");
insert into case_amount(id,name,createdon) values            (9,"面議",    "2022-01-26");
write done!

In [24]:
periods=['3天內','一個禮拜','二~四個禮拜','一個月內','三個月','半年','一年以上','面議']
periods

['3天內', '一個禮拜', '二~四個禮拜', '一個月內', '三個月', '半年', '一年以上', '面議']

In [25]:
try:
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    conn, cursor

    for i, period in enumerate(periods):
        sqlstr = f'insert into case_period(id,name,createdon) values\
            ({i+1},"{period}",\
    "{datetime.today().strftime("%Y-%m-%d")}");'
        print(sqlstr)
        cursor.execute(sqlstr)
    conn.commit()
    print('write done!')
except Exception as e:
    print(e)
finally:
    if conn:
        conn.close()

insert into case_period(id,name,createdon) values            (1,"3天內",    "2022-01-26");
insert into case_period(id,name,createdon) values            (2,"一個禮拜",    "2022-01-26");
insert into case_period(id,name,createdon) values            (3,"二~四個禮拜",    "2022-01-26");
insert into case_period(id,name,createdon) values            (4,"一個月內",    "2022-01-26");
insert into case_period(id,name,createdon) values            (5,"三個月",    "2022-01-26");
insert into case_period(id,name,createdon) values            (6,"半年",    "2022-01-26");
insert into case_period(id,name,createdon) values            (7,"一年以上",    "2022-01-26");
insert into case_period(id,name,createdon) values            (8,"面議",    "2022-01-26");
write done!